.wrapper {
  display: flex;
  max-width: 1080px;
  width: 100%;
  margin: 0 auto;
}
.container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  width: 100%;
  margin: 0 60px;
}
.block {
  display: flex;
  flex-direction: column;
}
.title {
  margin: 30px 0 24px;
  font-size: 32px;
}
.form {
  max-width: 100%;
  width: 100%;
  padding: 32px;
  box-shadow: 0px 4px 4px 0px #0000001a;
  border: 1px solid #0000001a;
  border-radius: 8px;
}
.up,
.down {
  display: flex;
  max-width: 100%;
  width: 100%;
}
.up {
  margin-bottom: 15px;
}
.nextBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 150px;
  min-height: 36px;
  margin: 32px 0;
  border-radius: 8px;
  background: #00ae1c;
  color: white;
  cursor: pointer;
}
