/* src/components/Checkbox/Checkbox.module.scss */
.container {
    display: flex;
    align-items: center;
  }
  
  .checkbox {
    width: 16px;
    height: 16px;
    appearance: none;
    background-color: #fff;
    border: 1.5px solid #adb5bd;
    border-radius: 3px;
    cursor: pointer;
    position: relative;
    outline: none;
    transition: background-color 0.3s ease, border-color 0.3s ease;
  
    &:checked {
      background-color: #28a745;
      border-color: #28a745;
    }
  
    &:checked::before {
      content: '';
      position: absolute;
      left: 4px;
      top: 0px;
      width: 4px;
      height: 8px;
      border: solid white;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
  }
  
  .label {
    margin-left: 8px;
    font-size: 14px;
    color: #323749;
    cursor: pointer;
  }
  