.wrapper {
  display: flex;
  justify-content: center;
  max-width: 100%;
  width: 100%;
  min-height: 80px;
  margin-bottom: 29px;
  background-color: #171717;
  box-shadow: 0px 4px 4px 0px #00000040;
  color: white;
}
.maxWidth{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  width: 100%;
}
.logo {
  max-width: 200px;
  max-height: 40px;
  margin-left: 60px;
  cursor: pointer;
}
.btnCart {
  display: flex;
  justify-content: center;
  position: relative;
  margin-right: 60px;
  max-width: 100px;
  width: 100%;
  border-radius: 8px;
  min-height: 36px;
  background: #00ae1c;
  color: white;
  user-select: none;
  cursor: pointer;
}
.count {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #e9ed08;
  color: black;
  font-size: 11px;
  right: -5px;
  top: -5px;
}
.cartImg {
  max-width: 16px;
  max-height: 16px;
}
.blockTextCart {
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 100%;
  width: 100%;
  margin: 0 25px;
  font-size: 15px;
  letter-spacing: -0.3px;
}
