.wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 100%;
  width: 100%;
  min-height: 110px;
  border-bottom: 1px solid #454545;
  font-weight: 500;
}
.center {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  max-height: 36px;
  max-width: 247px;
  width: 100%;
}
.score {
  font-size: 32px;
}
.reset {
  outline: none;
  border: none;
  background-color: #00ae1c;

  border-radius: 8px;
  padding: 12px 10px 12px 10px;
  cursor: pointer;
}
.player {
  font-size: 20px;
}
