$color_green: #00ae1c;
$color_green_50: #dff5e2;
$color_green_300: #5ce171;
$color_green_500: #0cd52b;
$color_green_600: #187727;
$color_green_700: #5ce17140;
$color_green_900: #1018280d;

$color_white: #ffffff;
$color_white_50: #f6f6f6;
$color_white_100: #e3e3e3;

$color_gray: #efefef;
$color_gray_25: #e0e0e0;
$color_gray_50: #f2f5f7;
$color_gray_100: #dedfe5;
$color_gray_200: #dee0e5;
$color_gray_300: #c8c8c8;
$color_gray_400: #8d8e91;
$color_gray_500: #737373;
$color_gray_700: #555555ff;
$color_gray_900: #45454540;

$color_blue_gray_900: #323749;

$color_black: #000000;

$color_orange_200: #d9b291;
$color_orange_500: #ff5620;

$color_dark_blue: #0000001a;

$font_family: Inter, sans-serif;
$font_family_second: Roboto, sans-serif;
