@import "../../styles/variables";

.modal_wrapper {
  .modal_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }

  .modal {
    height: auto;
    box-shadow: 0 1rem 3.125rem 0 #0000003d;
    position: sticky;
    z-index: 1;
    margin: 0.625rem;
    border-radius: 0.5rem;
    background-color: $color_white;
    max-width: 32.625rem;
    width: 100%;
  }

  .modal .title {
    font-family: $font_family;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.5625rem;
    letter-spacing: -0.0375rem;
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 0.0625rem solid $color_gray_100;
    color: $color_blue_gray_900;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .modal .title svg {
    cursor: pointer;
  }

  .modal .description {
    font-family: $font_family;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25rem;
    letter-spacing: -0.01875rem;
    color: $color_blue_gray_900;
    padding: 1rem;
  }
}
