@import "../../styles/variables";

.area_wrapper {
  position: relative;
  width: 100%;

  span {
    font-family: $font_family;
    font-size: 0.625rem;
    font-weight: 700;
    line-height: 0.75rem;
    letter-spacing: -0.013rem;
    text-align: left;
  }

  .textarea {
    position: relative;
    font-family: $font_family;
    border: none;
    font-weight: 400;
    text-align: left;
    outline: none;
    max-width: 32.813rem;
    display: block;
    width: 100%;
    overflow: hidden;
    resize: none;
    margin: 0.188rem 0 0.438rem;
    height: 1rem;
    padding: 0;
    font-size: 0.9375rem;
    line-height: 1.25rem;
    letter-spacing: -0.01875rem;
  }

  .error_massage_task {
    position: absolute;
    color: $color_orange_500;
    font-family: $font_family;
    font-size: 0.625rem;
    font-weight: 400;
    line-height: 0.3125rem;
    letter-spacing: -0.0125rem;
    text-align: left;
    bottom: -0.625rem;
    left: -3.125rem;
  }
}
