@import "../../styles/variables";

.color_picker_wrapper {
  position: relative;
  max-width: 14.375rem;

  span {
    font-family: $font_family;
    font-size: 0.625rem;
    font-weight: 700;
    line-height: 0.75rem;
    letter-spacing: -0.0125rem;
    text-align: left;
    color: $color_blue_gray_900;
    margin-bottom: 0.375rem;
    display: inline-block;
  }

  .colors {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.4375rem;
    padding: 0.4375rem;
    border-radius: 0.5rem;
    border: 0.0625rem solid $color_gray_100;

    @media screen and (max-width: 90rem) {
      gap: 1.2375rem;
    }

    svg {
      cursor: pointer;
    }
  }
}
