.container {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    max-width: 100%;
    width: 100%;
    max-height: 100%;
  }
  
  .label {
    margin-bottom: 4px;
    font-size: 10px;
    font-weight: 700;
    line-height: 12px;
    letter-spacing: -0.2px;
    color: #212529;
  }
  
  .textarea {
    resize: none;
    border: none;
    font-size: 15px;
    letter-spacing: -0.3px;
    line-height: 20px;
    padding: 0;
    color: #323749;
    outline: none;
    height: 80px; /* Фіксована висота */
    max-height: 80px; /* Максимальна висота */
    overflow-y: auto; /* Прокрутка по вертикалі */
    word-wrap: break-word; /* Перенос слів */
  
    &::placeholder {
      color: #adb5bd;
    }
  
    &:focus {
      outline: none;
    }
  }
  
  .line {
    background: #7373737a;
    height: 1px;
    max-width: 100%;
    width: 100%;
    margin-top: 4px;
    transition: background-color 0.3s ease;
  }
  