.item {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    width: calc(100% - 18px);
    max-height: 146px;
    padding: 8px;
    margin-bottom: 16px;
    border-radius: 8px;
    box-shadow: 0px 4px 4px 0px #0000001a;
    border: 1px solid #0000001a;
  }
  .itemImg {
    max-width: 130px;
    max-height: 130px;
    margin-right: 8px;
  }
  .blockItem {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 100%;
    width: 100%;
  }
  .up {
    display: flex;
    justify-content: space-between;
  }
  .text {
    max-width: 700px;
    width: 100%;
    min-height: 70px;
  }
  .deleteBtn {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 75px;
    width: 100%;
    max-height: 36px;
    border-radius: 8px;
    background: #00ae1c;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
  
    &:hover {
      background: #009a19;
    }
  
    &:active {
      background: #007a14;
    }
  }
  .deleteImg {
    max-width: 16px;
    width: 100%;
    max-height: 16px;
    height: 100%;
  }
  .deleteText {
    font-size: 15px;
  }
  .down {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 36px;
    height: 100%;
  }
  .counter {
    display: flex;
    align-items: center;
  }
  .minus,
  .plus {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 36px;
    min-height: 36px;
    border-radius: 8px;
    background: #00ae1c;
    cursor: pointer;
    transition: background-color 0.3s ease;
  
    &:hover {
      background: #009a19;
    }
  
    &:active {
      background: #007a14;
      transform: translateY(2px);
    }
  }
  .minusImg,
  .plusImg {
    max-width: 16px;
  }
  .count {
    margin: 0 24px;
  }
  .price {
    span {
      font-size: 24px;
    }
  }