@import "../../styles/variables";

.toast {
  width: 13.125rem;
  height: 1.5rem;
  border-radius: 0.5rem 0.5rem 0 0;
  box-shadow: 0 1rem 3.125rem 0 #0000003d;
  background-color: $color_white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.875rem 1rem;
  position: absolute;
  bottom: 0;
  left: 40%;

  span {
    font-family: $font_family;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.5625rem;
    letter-spacing: -0.002rem;
    text-align: left;
    color: $color_blue_gray_900;
  }
}
